{% extends 'appSchool/padre.html' %}


{% load static %}

{% block padre %}

<h2>Agregar estudiante</h2>
<br>

{% if formulario.errors %}

<p style="color: red;">Estan mal los datos, revisar</p>

{% endif %}

<form action="" method="POST"> {% csrf_token %}

<table>

    {{formulario.as_table}}

</table>

<input type="submit" value="Enviar"">


</form>

<br>
<h2>Buscar estudiantes</h2>
<br>
<form action="/appSchool/buscarEstudiantes/" method="GET"> 

    <p>Legajo: <input type="number" name="legajo" id="legajo"> </p>
    
    <input type="submit" value="Buscar">

</form>

{% endblock %}

{% block local %}
Estudiantes
{% endblock %}