{% extends 'appSchool/padre.html' %}

{% load static %}

{% block padre %}

<h2>Agregar materia</h2>
<br>

{% if formulario.errors %}

<p style="color: red;">Estan mal los datos, revisar</p>

{% endif %}

<form action="" method="POST"> {% csrf_token %}

<table>

    {{formulario.as_table}}

</table>

<input type="submit" value="Enviar"">

<br>
<br>
<h2>Buscar Materias</h2>
<br>

</form>

<form action="/appSchool/buscarMaterias/" method="GET"> 

    <p>Materia: <input type="text" name="nombre" id="nombre"> </p>
    
    <input type="submit" value="Buscar">

</form>

{% endblock %}

{% block local %}

Materias

{% endblock %}