{% extends 'appSchool/padre.html' %}


{% load static %}


{% block padre %}

<h2>Agregar nota</h2>
<br>

{% if formulario.errors %}

<p style="color: red;">Estan mal los datos, revisar</p>

{% endif %}

<form action="/appSchool/notas/" method="POST"> {% csrf_token %}

<table>

    {{formulario.as_table}}

</table>

<input type="submit" value="Enviar"">


</form>


<br>
<h2>Buscar notas</h2>
<br>

<form action="/appSchool/buscarNotas/" method="GET"> 

    <p>Alumno: <input type="text" name="alumno" id="alumno"> </p>
    
    <input type="submit" value="Buscar">

</form>


{% endblock %}



{% block local %}
Notas
{% endblock %}